# Ignore artifacts:
build
coverage
.next
eslintrc.json
.gitignore
.prettierrc
next-env.d.ts
next.config.js
package.json
package-lock.json
postcss.config.js
README.md
tailwind.config.js
tsconfig.json
yarn.lock